/*!Animate.css - http://daneden.me/animate*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s
}

@-webkit-keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}

	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px)
	}

}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px)
	}

	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		transform: translateY(-15px)
	}

}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce
}

@-webkit-keyframes flash {
	0%, 100%, 50% {
		opacity: 1
	}

	25%, 75% {
		opacity: 0
	}

}

@keyframes flash {
	0%, 100%, 50% {
		opacity: 1
	}

	25%, 75% {
		opacity: 0
	}

}

.flash {
	-webkit-animation-name: flash;
	animation-name: flash
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	50% {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	30% {
		-webkit-transform: scaleX(1.25) scaleY(.75);
		transform: scaleX(1.25) scaleY(.75)
	}

	40% {
		-webkit-transform: scaleX(.75) scaleY(1.25);
		transform: scaleX(.75) scaleY(1.25)
	}

	60% {
		-webkit-transform: scaleX(1.15) scaleY(.85);
		transform: scaleX(1.15) scaleY(.85)
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	30% {
		-webkit-transform: scaleX(1.25) scaleY(.75);
		-ms-transform: scaleX(1.25) scaleY(.75);
		transform: scaleX(1.25) scaleY(.75)
	}

	40% {
		-webkit-transform: scaleX(.75) scaleY(1.25);
		-ms-transform: scaleX(.75) scaleY(1.25);
		transform: scaleX(.75) scaleY(1.25)
	}

	60% {
		-webkit-transform: scaleX(1.15) scaleY(.85);
		-ms-transform: scaleX(1.15) scaleY(.85);
		transform: scaleX(1.15) scaleY(.85)
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}

}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px)
	}

}
.img-avatar {
	display: inline-block !important;
	width: 138px;
	height: 133px;
	text-align: center;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	/*考虑浏览器兼容性*/
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}
.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	/*background-image:url("../img/svg/iconbg.svg");*/

}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	40% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}

	60% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}

	80% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}

	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

}

@keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		transform: rotate(15deg)
	}

	40% {
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		transform: rotate(-10deg)
	}

	60% {
		-webkit-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg)
	}

	80% {
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}

	100% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0)
	}

}

.swing {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	10%, 20% {
		-webkit-transform: scale(.9) rotate(-3deg);
		transform: scale(.9) rotate(-3deg)
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg)
	}

	40%, 60%, 80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}

}

@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	10%, 20% {
		-webkit-transform: scale(.9) rotate(-3deg);
		-ms-transform: scale(.9) rotate(-3deg);
		transform: scale(.9) rotate(-3deg)
	}

	30%, 50%, 70%, 90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		-ms-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg)
	}

	40%, 60%, 80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		-ms-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg)
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0)
	}

}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada
}

@-webkit-keyframes wobble {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg)
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg)
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes wobble {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	15% {
		-webkit-transform: translateX(-25%) rotate(-5deg);
		-ms-transform: translateX(-25%) rotate(-5deg);
		transform: translateX(-25%) rotate(-5deg)
	}

	30% {
		-webkit-transform: translateX(20%) rotate(3deg);
		-ms-transform: translateX(20%) rotate(3deg);
		transform: translateX(20%) rotate(3deg)
	}

	45% {
		-webkit-transform: translateX(-15%) rotate(-3deg);
		-ms-transform: translateX(-15%) rotate(-3deg);
		transform: translateX(-15%) rotate(-3deg)
	}

	60% {
		-webkit-transform: translateX(10%) rotate(2deg);
		-ms-transform: translateX(10%) rotate(2deg);
		transform: translateX(10%) rotate(2deg)
	}

	75% {
		-webkit-transform: translateX(-5%) rotate(-1deg);
		-ms-transform: translateX(-5%) rotate(-1deg);
		transform: translateX(-5%) rotate(-1deg)
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.wobble {
	-webkit-animation-name: wobble;
	animation-name: wobble
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}

	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		transform: translateY(30px)
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px)
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
		-ms-transform: translateY(30px);
		transform: translateY(30px)
	}

	80% {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px)
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		transform: translateX(30px)
	}

	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px)
	}

	80% {
		-webkit-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		transform: translateX(-10px)
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	animation-name: bounceInLeft
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px)
	}

	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px)
	}

	80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px)
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight
}

@-webkit-keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px)
	}

	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px)
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px)
	}

	80% {
		-webkit-transform: translateY(10px);
		-ms-transform: translateY(10px);
		transform: translateY(10px)
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp
}

@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	25% {
		-webkit-transform: scale(.95);
		transform: scale(.95)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

}

@keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	25% {
		-webkit-transform: scale(.95);
		-ms-transform: scale(.95);
		transform: scale(.95)
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}

}

.bounceOut {
	-webkit-animation-name: bounceOut;
	animation-name: bounceOut
}

@-webkit-keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

@keyframes bounceOutDown {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	animation-name: bounceOutDown
}

@-webkit-keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		transform: translateX(20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

@keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft
}

@-webkit-keyframes bounceOutRight {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

@keyframes bounceOutRight {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

.bounceOutRight {
	-webkit-animation-name: bounceOutRight;
	animation-name: bounceOutRight
}

@-webkit-keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

@keyframes bounceOutUp {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

.bounceOutUp {
	-webkit-animation-name: bounceOutUp;
	animation-name: bounceOutUp
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}

}

@keyframes fadeIn {
	0% {
		opacity: 0
	}

	100% {
		opacity: 1
	}

}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}

@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}

}

@keyframes fadeOut {
	0% {
		opacity: 1
	}

	100% {
		opacity: 0
	}

}

.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut
}

@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}

}

@keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px)
	}

}

.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
	animation-name: fadeOutDown
}

@-webkit-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

@keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig
}

@-webkit-keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}

}

@keyframes fadeOutLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}

}

.fadeOutLeft {
	-webkit-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft
}

@-webkit-keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

@keyframes fadeOutLeftBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

.fadeOutLeftBig {
	-webkit-animation-name: fadeOutLeftBig;
	animation-name: fadeOutLeftBig
}

@-webkit-keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px)
	}

}

@keyframes fadeOutRight {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px)
	}

}

.fadeOutRight {
	-webkit-animation-name: fadeOutRight;
	animation-name: fadeOutRight
}

@-webkit-keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

@keyframes fadeOutRightBig {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

.fadeOutRightBig {
	-webkit-animation-name: fadeOutRightBig;
	animation-name: fadeOutRightBig
}

@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px)
	}

}

@keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px)
	}

}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp
}

@-webkit-keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

@keyframes fadeOutUpBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

.fadeOutUpBig {
	-webkit-animation-name: fadeOutUpBig;
	animation-name: fadeOutUpBig
}

@-webkit-keyframes flip {
	0% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	80% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	100% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

}

@keyframes flip {
	0% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(0) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	40% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

	50% {
		-webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	80% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

	100% {
		-webkit-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-ms-transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in
	}

}

.animated.flip {
	-webkit-backface-visibility: visible;
	-ms-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-animation-name: flip;
	animation-name: flip
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0
	}

	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg)
	}

	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg)
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(0);
		transform: perspective(400px) rotateX(0);
		opacity: 1
	}

}

@keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		-ms-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0
	}

	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
		-ms-transform: perspective(400px) rotateX(-10deg);
		transform: perspective(400px) rotateX(-10deg)
	}

	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
		-ms-transform: perspective(400px) rotateX(10deg);
		transform: perspective(400px) rotateX(10deg)
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(0);
		-ms-transform: perspective(400px) rotateX(0);
		transform: perspective(400px) rotateX(0);
		opacity: 1
	}

}

.flipInX {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInX;
	animation-name: flipInX
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg)
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg)
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0);
		transform: perspective(400px) rotateY(0);
		opacity: 1
	}

}

@keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		-ms-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg)
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		-ms-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg)
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0);
		-ms-transform: perspective(400px) rotateY(0);
		transform: perspective(400px) rotateY(0);
		opacity: 1
	}

}

.flipInY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY
}

@-webkit-keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px) rotateX(0);
		transform: perspective(400px) rotateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0
	}

}

@keyframes flipOutX {
	0% {
		-webkit-transform: perspective(400px) rotateX(0);
		-ms-transform: perspective(400px) rotateX(0);
		transform: perspective(400px) rotateX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: perspective(400px) rotateX(90deg);
		-ms-transform: perspective(400px) rotateX(90deg);
		transform: perspective(400px) rotateX(90deg);
		opacity: 0
	}

}

.flipOutX {
	-webkit-animation-name: flipOutX;
	animation-name: flipOutX;
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important
}

@-webkit-keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0);
		transform: perspective(400px) rotateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0
	}

}

@keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0);
		-ms-transform: perspective(400px) rotateY(0);
		transform: perspective(400px) rotateY(0);
		opacity: 1
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0
	}

}

.flipOutY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY
}

@-webkit-keyframes lightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0
	}

	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1
	}

	80% {
		-webkit-transform: translateX(0) skewX(-15deg);
		transform: translateX(0) skewX(-15deg);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(0) skewX(0);
		transform: translateX(0) skewX(0);
		opacity: 1
	}

}

@keyframes lightSpeedIn {
	0% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		-ms-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0
	}

	60% {
		-webkit-transform: translateX(-20%) skewX(30deg);
		-ms-transform: translateX(-20%) skewX(30deg);
		transform: translateX(-20%) skewX(30deg);
		opacity: 1
	}

	80% {
		-webkit-transform: translateX(0) skewX(-15deg);
		-ms-transform: translateX(0) skewX(-15deg);
		transform: translateX(0) skewX(-15deg);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(0) skewX(0);
		-ms-transform: translateX(0) skewX(0);
		transform: translateX(0) skewX(0);
		opacity: 1
	}

}

.lightSpeedIn {
	-webkit-animation-name: lightSpeedIn;
	animation-name: lightSpeedIn;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out
}

@-webkit-keyframes lightSpeedOut {
	0% {
		-webkit-transform: translateX(0) skewX(0);
		transform: translateX(0) skewX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0
	}

}

@keyframes lightSpeedOut {
	0% {
		-webkit-transform: translateX(0) skewX(0);
		-ms-transform: translateX(0) skewX(0);
		transform: translateX(0) skewX(0);
		opacity: 1
	}

	100% {
		-webkit-transform: translateX(100%) skewX(-30deg);
		-ms-transform: translateX(100%) skewX(-30deg);
		transform: translateX(100%) skewX(-30deg);
		opacity: 0
	}

}

.lightSpeedOut {
	-webkit-animation-name: lightSpeedOut;
	animation-name: lightSpeedOut;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in
}

@-webkit-keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-200deg);
		transform: rotate(-200deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

@keyframes rotateIn {
	0% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(-200deg);
		-ms-transform: rotate(-200deg);
		transform: rotate(-200deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

.rotateIn {
	-webkit-animation-name: rotateIn;
	animation-name: rotateIn
}

@-webkit-keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

@keyframes rotateInDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

.rotateInDownLeft {
	-webkit-animation-name: rotateInDownLeft;
	animation-name: rotateInDownLeft
}

@-webkit-keyframes rotateInDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

@keyframes rotateInDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

.rotateInDownRight {
	-webkit-animation-name: rotateInDownRight;
	animation-name: rotateInDownRight
}

@-webkit-keyframes rotateInUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

@keyframes rotateInUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

.rotateInUpLeft {
	-webkit-animation-name: rotateInUpLeft;
	animation-name: rotateInUpLeft
}

@-webkit-keyframes rotateInUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

@keyframes rotateInUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

}

.rotateInUpRight {
	-webkit-animation-name: rotateInUpRight;
	animation-name: rotateInUpRight
}

@-webkit-keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(200deg);
		transform: rotate(200deg);
		opacity: 0
	}

}

@keyframes rotateOut {
	0% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: center center;
		-ms-transform-origin: center center;
		transform-origin: center center;
		-webkit-transform: rotate(200deg);
		-ms-transform: rotate(200deg);
		transform: rotate(200deg);
		opacity: 0
	}

}

.rotateOut {
	-webkit-animation-name: rotateOut;
	animation-name: rotateOut
}

@-webkit-keyframes rotateOutDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

}

@keyframes rotateOutDownLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

}

.rotateOutDownLeft {
	-webkit-animation-name: rotateOutDownLeft;
	animation-name: rotateOutDownLeft
}

@-webkit-keyframes rotateOutDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

}

@keyframes rotateOutDownRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

}

.rotateOutDownRight {
	-webkit-animation-name: rotateOutDownRight;
	animation-name: rotateOutDownRight
}

@-webkit-keyframes rotateOutUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

}

@keyframes rotateOutUpLeft {
	0% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: left bottom;
		-ms-transform-origin: left bottom;
		transform-origin: left bottom;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		opacity: 0
	}

}

.rotateOutUpLeft {
	-webkit-animation-name: rotateOutUpLeft;
	animation-name: rotateOutUpLeft
}

@-webkit-keyframes rotateOutUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

}

@keyframes rotateOutUpRight {
	0% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		opacity: 1
	}

	100% {
		-webkit-transform-origin: right bottom;
		-ms-transform-origin: right bottom;
		transform-origin: right bottom;
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0
	}

}

.rotateOutUpRight {
	-webkit-animation-name: rotateOutUpRight;
	animation-name: rotateOutUpRight
}

@-webkit-keyframes slideInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes slideInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.slideInDown {
	-webkit-animation-name: slideInDown;
	animation-name: slideInDown
}

@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.slideInLeft {
	-webkit-animation-name: slideInLeft;
	animation-name: slideInLeft
}

@-webkit-keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

}

@keyframes slideInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

}

.slideInRight {
	-webkit-animation-name: slideInRight;
	animation-name: slideInRight
}

@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

@keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px)
	}

}

.slideOutLeft {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft
}

@-webkit-keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

@keyframes slideOutRight {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px)
	}

}

.slideOutRight {
	-webkit-animation-name: slideOutRight;
	animation-name: slideOutRight
}

@-webkit-keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

@keyframes slideOutUp {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px)
	}

}

.slideOutUp {
	-webkit-animation-name: slideOutUp;
	animation-name: slideOutUp
}

@-webkit-keyframes slideInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

}

@keyframes slideInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

}

.slideInUp {
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp
}

@-webkit-keyframes slideOutDown {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

@keyframes slideOutDown {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px)
	}

}

.slideOutDown {
	-webkit-animation-name: slideOutDown;
	animation-name: slideOutDown
}

@-webkit-keyframes hinge {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	20%, 60% {
		-webkit-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	40% {
		-webkit-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	80% {
		-webkit-transform: rotate(60deg) translateY(0);
		transform: rotate(60deg) translateY(0);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(700px);
		transform: translateY(700px);
		opacity: 0
	}

}

@keyframes hinge {
	0% {
		-webkit-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	20%, 60% {
		-webkit-transform: rotate(80deg);
		-ms-transform: rotate(80deg);
		transform: rotate(80deg);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	40% {
		-webkit-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		transform: rotate(60deg);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	80% {
		-webkit-transform: rotate(60deg) translateY(0);
		-ms-transform: rotate(60deg) translateY(0);
		transform: rotate(60deg) translateY(0);
		-webkit-transform-origin: top left;
		-ms-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1
	}

	100% {
		-webkit-transform: translateY(700px);
		-ms-transform: translateY(700px);
		transform: translateY(700px);
		opacity: 0
	}

}

.hinge {
	-webkit-animation-name: hinge;
	animation-name: hinge
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0) rotate(0);
		transform: translateX(0) rotate(0)
	}

}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-ms-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg)
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0) rotate(0);
		-ms-transform: translateX(0) rotate(0);
		transform: translateX(0) rotate(0)
	}

}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn
}

@-webkit-keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0) rotate(0);
		transform: translateX(0) rotate(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg)
	}

}

@keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0) rotate(0);
		-ms-transform: translateX(0) rotate(0);
		transform: translateX(0) rotate(0)
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		-ms-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg)
	}

}

.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut
}

@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1
	}

}

@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}

	50% {
		opacity: 1
	}

}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn
}

@-webkit-keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(-2000px);
		transform: scale(.1) translateY(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(60px);
		transform: scale(.475) translateY(60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

@keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(-2000px);
		-ms-transform: scale(.1) translateY(-2000px);
		transform: scale(.1) translateY(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(60px);
		-ms-transform: scale(.475) translateY(60px);
		transform: scale(.475) translateY(60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown
}

@-webkit-keyframes zoomInLeft {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(-2000px);
		transform: scale(.1) translateX(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(48px);
		transform: scale(.475) translateX(48px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

@keyframes zoomInLeft {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(-2000px);
		-ms-transform: scale(.1) translateX(-2000px);
		transform: scale(.1) translateX(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(48px);
		-ms-transform: scale(.475) translateX(48px);
		transform: scale(.475) translateX(48px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

.zoomInLeft {
	-webkit-animation-name: zoomInLeft;
	animation-name: zoomInLeft
}

@-webkit-keyframes zoomInRight {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(2000px);
		transform: scale(.1) translateX(2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(-48px);
		transform: scale(.475) translateX(-48px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

@keyframes zoomInRight {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(2000px);
		-ms-transform: scale(.1) translateX(2000px);
		transform: scale(.1) translateX(2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(-48px);
		-ms-transform: scale(.475) translateX(-48px);
		transform: scale(.475) translateX(-48px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

.zoomInRight {
	-webkit-animation-name: zoomInRight;
	animation-name: zoomInRight
}

@-webkit-keyframes zoomInUp {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(2000px);
		transform: scale(.1) translateY(2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(-60px);
		transform: scale(.475) translateY(-60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

@keyframes zoomInUp {
	0% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(2000px);
		-ms-transform: scale(.1) translateY(2000px);
		transform: scale(.1) translateY(2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(-60px);
		-ms-transform: scale(.475) translateY(-60px);
		transform: scale(.475) translateY(-60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out
	}

}

.zoomInUp {
	-webkit-animation-name: zoomInUp;
	animation-name: zoomInUp
}

@-webkit-keyframes zoomOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3)
	}

	100% {
		opacity: 0
	}

}

@keyframes zoomOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}

	50% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3)
	}

	100% {
		opacity: 0
	}

}

.zoomOut {
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut
}

@-webkit-keyframes zoomOutDown {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(-60px);
		transform: scale(.475) translateY(-60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(2000px);
		transform: scale(.1) translateY(2000px);
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom
	}

}

@keyframes zoomOutDown {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(-60px);
		-ms-transform: scale(.475) translateY(-60px);
		transform: scale(.475) translateY(-60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(2000px);
		-ms-transform: scale(.1) translateY(2000px);
		transform: scale(.1) translateY(2000px);
		-webkit-transform-origin: center bottom;
		-ms-transform-origin: center bottom;
		transform-origin: center bottom
	}

}

.zoomOutDown {
	-webkit-animation-name: zoomOutDown;
	animation-name: zoomOutDown
}

@-webkit-keyframes zoomOutLeft {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(42px);
		transform: scale(.475) translateX(42px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(-2000px);
		transform: scale(.1) translateX(-2000px);
		-webkit-transform-origin: left center;
		transform-origin: left center
	}

}

@keyframes zoomOutLeft {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(42px);
		-ms-transform: scale(.475) translateX(42px);
		transform: scale(.475) translateX(42px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(-2000px);
		-ms-transform: scale(.1) translateX(-2000px);
		transform: scale(.1) translateX(-2000px);
		-webkit-transform-origin: left center;
		-ms-transform-origin: left center;
		transform-origin: left center
	}

}

.zoomOutLeft {
	-webkit-animation-name: zoomOutLeft;
	animation-name: zoomOutLeft
}

@-webkit-keyframes zoomOutRight {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(-42px);
		transform: scale(.475) translateX(-42px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(2000px);
		transform: scale(.1) translateX(2000px);
		-webkit-transform-origin: right center;
		transform-origin: right center
	}

}

@keyframes zoomOutRight {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateX(-42px);
		-ms-transform: scale(.475) translateX(-42px);
		transform: scale(.475) translateX(-42px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateX(2000px);
		-ms-transform: scale(.1) translateX(2000px);
		transform: scale(.1) translateX(2000px);
		-webkit-transform-origin: right center;
		-ms-transform-origin: right center;
		transform-origin: right center
	}

}

.zoomOutRight {
	-webkit-animation-name: zoomOutRight;
	animation-name: zoomOutRight
}

@-webkit-keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(60px);
		transform: scale(.475) translateY(60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(-2000px);
		transform: scale(.1) translateY(-2000px);
		-webkit-transform-origin: center top;
		transform-origin: center top
	}

}

@keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: scale(.475) translateY(60px);
		-ms-transform: scale(.475) translateY(60px);
		transform: scale(.475) translateY(60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(.1) translateY(-2000px);
		-ms-transform: scale(.1) translateY(-2000px);
		transform: scale(.1) translateY(-2000px);
		-webkit-transform-origin: center top;
		-ms-transform-origin: center top;
		transform-origin: center top
	}

}

.zoomOutUp {
	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp
}

body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul {
	margin: 0;
	padding: 0
}

img {
	width: 85px;
	height: 85px;
	border: 0;
	vertical-align: middle
}

ul {
	margin: 0 auto;
	padding: 0;
	border: none;
	list-style: none;
	font-size: 12px;
	display: table;
}
ul::after{
	content: '';
	display: inline-block;
	clear: both;
}
a {
	text-align: center;
	color: #fff;
	text-decoration: none
}

@font-face {
	font-family: MyriadSetPro-Thin;
	src: url(./font/MyriadSetPro-Thin.ttf)
}

body {
		height: 100%;
		background-color: #ffffff;
		background-image: url("../img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-image: url("../img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-image: url("../img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-image: url("../img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("../img/bg.jpg");
		background-repeat: repeat,			no-repeat,			no-repeat;
		background-size: 100px 100px, cover,				cover;
		background-position: top left,		center center,		bottom center;
		background-attachment: fixed,			fixed,				fixed;
}

#wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden
}

#top {
	margin-top: 10%;
	width: 100%;
	height: 162px
}

#main {
	text-align: center;
	margin-top: 5%
}

#logo {
	width: 260px;
	margin: 0 auto;
	text-align: center
}



#logo h1 {
	color: #fff;
	text-align: center;
	text-shadow: 0 0 10px #111;
	font-weight: 200;
	font-size: 36px;
	font-family: MyriadSetPro-Thin;
	margin-top: 15px
}

ul li {
	list-style-type: none;
	float: left;
	margin: 10px 10px 15px 25px
}

#app1 {
	display: none
}

div ul li a, div ul li a strong, ul li {
	display: block;
	width: 128px
}

div ul li a:visited, ul li a:active, ul li a:link {
	text-decoration: none
}

ul li a strong {
	height: 32px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 0 10px #111;
	font-weight: 400;
	font-size: 14px;
	font-family: MyriadSetPro-Thin;
	line-height: 32px
}

#footer {
	width: 100%;
	height: 50px;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	color: rgba(255, 255, 255, .8);
	overflow: visible !important;
	z-index: 10
}

.footer-contents {
	position: absolute;
	bottom: 14px;
	right: 10px;
	left: 10px;
	height: auto;
	outline: 0
}

.footer-contents .footer-link-separator {
	background-color: #e6eaed;
	background-color: rgba(230, 234, 237, .2);
	display: inline-block;
	width: 1px;
	height: 10px;
	vertical-align: baseline
}

.footer-contents a, .footer-contents a:active, .footer-contents a:focus {
	text-decoration: none;
	color: #fff;
	color: rgba(255, 255, 255, .8)
}

.footer-contents a:hover {
	color: #fff
}

.coffee_cup {
	width: 20px;
	height: 24px;
	border: 1px rgba(255, 255, 255, 1) solid;
	border-radius: 0 0 5px 5px;
	position: absolute;
	margin: 36px auto;
	left: 48%;
	top: 45%
}

.coffee_cup:after, .coffee_cup:before {
	position: absolute;
	content: ""
}

.coffee_cup:after {
	width: 5px;
	height: 12px;
	border: 1px #fff solid;
	border-left: none;
	border-radius: 0 20px 20px 0;
	left: 20px
}

.coffee_cup:before {
	width: 1px;
	height: 6px;
	background-color: rgba(255, 255, 255, 1);
	top: -10px;
	left: 4px;
	box-shadow: 5px 0 0 0 rgba(255, 255, 255, 1), 5px -5px 0 0 rgba(255, 255, 255, 1), 10px 0 0 0 rgba(255, 255, 255, 1);
	-webkit-animation: steam 1s linear infinite alternate;
	-moz-animation: steam 1s linear infinite alternate;
	animation: steam 1s linear infinite alternate
}

@-webkit-keyframes steam {
	0% {
		height: 0
	}

	100% {
		height: 6px
	}

}

@-moz-keyframes steam {
	0% {
		height: 0
	}

	100% {
		height: 6px
	}

}

@keyframes steam {
	0% {
		height: 0
	}

	100% {
		height: 6px
	}

}

@keyframes shake-bounce {
	0%, 100% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
		-ms-transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg)
	}

	50% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg)
	}

	75% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg)
	}

	85% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg)
	}

}

@-webkit-keyframes shake-bounce {
	0%, 100% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
		-ms-transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg)
	}

	50% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg)
	}

	75% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg)
	}

	85% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg)
	}

}

@-moz-keyframes shake-bounce {
	0%, 100% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
		-ms-transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg)
	}

	50% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg)
	}

	75% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg)
	}

	85% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg)
	}

}

@-o-keyframes shake-bounce {
	0%, 100% {
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		transform: rotate(0);
		-ms-transform: rotate(0)
	}

	25% {
		-webkit-transform: rotate(15deg);
		-moz-transform: rotate(15deg);
		transform: rotate(15deg);
		-ms-transform: rotate(15deg)
	}

	50% {
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-ms-transform: rotate(-15deg)
	}

	75% {
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		-ms-transform: rotate(5deg)
	}

	85% {
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
		-ms-transform: rotate(-5deg)
	}

}

.shake:hover {
	-webkit-animation: shake-bounce .5s alternate;
	-moz-animation: shake-bounce .5s alternate;
	-o-animation: shake-bounce .5s alternate;
	animation: shake-bounce .5s alternate
}

#kg-btn {
	position: absolute;
	top: 50px;
	right: 4%
}

.tgl {
	display: none
}

.tgl, .tgl *, .tgl:after, .tgl:before, .tgl+.tgl-btn, .tgl:after, .tgl:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl+.tgl-btn::-moz-selection, .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection {
	background: 0 0
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl+.tgl-btn::selection, .tgl::selection, .tgl:after::selection, .tgl:before::selection {
	background: 0 0
}

.tgl+.tgl-btn {
	position: relative;
	display: block;
	width: 4em;
	height: 2em;
	outline: 0;
	cursor: pointer
}

.tgl+.tgl-btn:after, .tgl+.tgl-btn:before {
	position: relative;
	display: block;
	width: 50%;
	height: 100%;
	content: ""
}

.tgl+.tgl-btn:after {
	left: 0
}

.tgl+.tgl-btn:before {
	display: none
}

.tgl:checked+.tgl-btn:after {
	left: 50%
}

.tgl-flip+.tgl-btn {
	padding: 2px;
	font-family: MyriadSetPro-Thin;
	-webkit-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-perspective: 100px;
	-ms-perspective: 100px;
	perspective: 100px
}

.tgl-flip+.tgl-btn:after, .tgl-flip+.tgl-btn:before {
	position: absolute;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	line-height: 2em;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden
}

.tgl-flip+.tgl-btn:after {
	background: #FF3A19;
	content: attr(data-tg-on);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg)
}

.tgl-flip+.tgl-btn:before {
	background: #7FC6A6;
	content: attr(data-tg-off)
}

.tgl-flip+.tgl-btn:active:before {
	-webkit-transform: rotateY(-20deg);
	transform: rotateY(-20deg);
	-ms-transform: rotateY(-20deg)
}

.tgl-flip:checked+.tgl-btn:before {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-ms-transform: rotateY(180deg)
}

.tgl-flip:checked+.tgl-btn:after {
	left: 0;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
	-ms-transform: rotateY(0)
}

.tgl-flip:checked+.tgl-btn:active:after {
	-webkit-transform: rotateY(20deg);
	transform: rotateY(20deg);
	-ms-transform: rotateY(20deg)
}

.from-below, .from-below-to-below .effeckt-modal {
	opacity: 0;
	-webkit-transition: all .5s;
	-o-transition: .5s;
	transition: .5s;
	-webkit-transform: translateX(100%);
	-o-transform: scale(.5);
	transform: scale(.5);
	-ms-transform: scale(.5)
}

.effeckt-show, .effeckt-show.from-below-to-below .effeckt-modal {
	opacity: 1;
	-webkit-transform: translateX(0);
	-o-transform: scale(1);
	transform: scale(1);
	-ms-transform: scale(1)
}

.effeckt-show .effeckt-modal {
	visibility: visible
}

@media screen and (min-width:1200px) {
	#wrap {
		width: 1024px;
		height: 900px
	}

}

@media screen and (min-width:960px) and (max-width:1199px) {
	#wrap {
		width: 1024px
	}

}

@media screen and (min-width:768px) and (max-width:959px) {
	#wrap {
		width: 750px
	}

}

@media only screen and (min-width:480px) and (max-width:767px) {
	.app ul li a img {
		width: 64px;
		height: 64px
	}

	div ul li a, div ul li a strong, ul li {
		display: block;
		width: 64px
	}

}

@media only screen and (max-width:479px) {
	.t op {
		position: relative;
		top: 50px;
		left: 0;
		text-align: center
	}

	.app ul li a img {
		width: 64px;
		height: 64px
	}

	div ul li a, ul li {
		display: block;
		width: 64px
	}

	div ul li a strong {
		width: 64px
	}

	ul li {
		list-style-type: none;
		float: left;
		/*margin: 0 0 15px 25px*/
	}

}
